name: Check for updates
on:
  push
jobs:
  updates-check:
    name: Updates check job for ${{ matrix.branch }}
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:freedesktop-21.08
      options: --privileged
    env:
      GIT_AUTHOR_NAME: github-actions[bot]
      GIT_COMMITTER_NAME: github-actions[bot]
      GIT_AUTHOR_EMAIL: github-actions[bot]@users.noreply.github.com
      GIT_COMMITTER_EMAIL: github-actions[bot]@users.noreply.github.com
      EMAIL: github-actions[bot]@users.noreply.github.com
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GIT_BASE_BRANCH: ${{ matrix.branch }}
    strategy:
      matrix:
        branch: [ branch/5.15-22.08, branch/5.15-23.08, branch/6.5 ]
    steps:
      - name: Make sure the Label exists
        run: |
          data=$(printf '{"name":"${{ matrix.branch }}","description":"All Pull Requests targeting the ' "${GIT_BASE_BRANCH:7}" ' branch","color":"0052CC"}')
          echo $data
          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer  ${{ secrets.GITHUB_TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          "https://api.github.com/repos/${{ github.repository }}/labels" \
          -d "$data"
