name: Check for updates
on:
  push
jobs:
  updates-check:
    name: Updates check job for ${{ matrix.branch }}
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:freedesktop-21.08
      options: --privileged
    env:
      GIT_AUTHOR_NAME: github-actions[bot]
      GIT_COMMITTER_NAME: github-actions[bot]
      GIT_AUTHOR_EMAIL: github-actions[bot]@users.noreply.github.com
      GIT_COMMITTER_EMAIL: github-actions[bot]@users.noreply.github.com
      EMAIL: github-actions[bot]@users.noreply.github.com
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GIT_BASE_BRANCH: ${{ matrix.branch }}
    strategy:
      matrix:
        branch: [ branch/5.15-22.08, branch/5.15-23.08, branch/6.5 ]
    steps:
      - name: Download go-yq
        run: |
              curl -L https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 |
                install -Dm755 /dev/stdin $PWD/.bin/go-yq
              echo "$PWD/.bin" >> $GITHUB_PATH

      - name: Make sure the Label exists
        run: |
          data=$(printf "%s%s%s" '{"name":"${{ matrix.branch }}","description":"All Pull Requests targeting the ' "${GIT_BASE_BRANCH:7}" ' branch","color":"0052CC"}')

          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer  ${{ secrets.GITHUB_TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          "https://api.github.com/repos/${{ github.repository }}/labels" \
          -d "$data"

      - name: Add Label to Pull Requests
        run: |
          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer  ${{ secrets.GITHUB_TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          "https://api.github.com/repos/${{ github.repository }}/pulls?base=${{ env.GIT_BASE_BRANCH }}" \
          > .pulls.json

          declare -i count=0
          while :
          do
            number=$(go-yq -oy ".[${count}].number" .pulls.json)
            echo $number
            if [ $number = 'null' ]; then
                break
            fi
            count=count+1

            curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer <YOUR-TOKEN>" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            "https://api.github.com/repos/{{ github.repository }}/issues/${number}/labels" \
            -d '{"labels":["${{ matrix.branch }}"]}'
          done
